.subtitle {
    position: absolute;
    color: white;
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .subtitle_li {
    padding-right: 20px;
  }