.nav_box {
  position: absolute;
  z-index: 1;
  top: 6%;
  right: -2%;
}
.nav_link {
  color: white;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 250px;
  list-style: none;
  letter-spacing: 0.1rem;
}
.nav_link_li {
  margin-left: 30px;
  font-weight: 600;
}

.nav_link_width70 {
  width: 85px;
}

.nav_link_width85 {
  width: 100px;
}

.my_link {
  color: white;
  text-decoration: none;
}

.my_link:hover {
  border: 5px solid rgb(170, 255, 0);
  color: rgb(170, 255, 0);
  padding: 5px;
  border-radius: 100%/25%;
}
.my_link:active {
  border-color: rgb(170, 255, 0);
  background-color: rgb(170, 255, 0);
  color: white;
}
