.bg_img {
    background-image: url('http://drive.google.com/uc?export=view&id=1a_3C-lVIzoYU2lubu-pyMJWjDdRJg-KB');
    height: 100vh; 
    background-position: 0px -100px; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
  }